.home {
    display: flex;
    background-color: rgb(139, 0, 0);
    flex-direction: column;
    justify-content: space-between;
    &__header {
        background-color: rgb(31, 31, 31);
        height: 4rem;
        padding: $padding;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__logo {
            color: white;
            font-weight: bolder;
            font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
            transform: scale(1.5, 1) translateX(1rem);
            text-shadow: 0px 0px 5px rgb(216, 216, 216);
        }
    }
    &__wrapper {
        flex-grow: 1;
        background-color: white;
        &__presentation {
            max-width: 100%;
            object-fit: contain;
        }
        &__carousel {
            padding: $padding;
        }
    }
    &__footer {
        height: 10rem;
        padding: $padding;
        &__navegation {
        }
    }
}
