.home {
    &__wrapper {
        flex-grow: 1;
        background-color: white;
        &__presentation {
            max-width: 100%;
            object-fit: contain;
        }
        &__carousel {
            padding: $padding;
        }
        
    }
    
}
